<!DOCTYPE html>
<html>
   <head>
       <meta charset="utf-8">
       <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
       <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <meta http-equiv="Pragma" content="no-cache" />
       <meta http-equiv="Expires" content="-1" />
       <link rel="stylesheet" href="/theme/css/main.css" type="text/css" />
       <link rel="stylesheet" href="/theme/css/friendly.css" type="text/css" />
       <link rel="stylesheet" href="/theme/css/print.css" type="text/css" media="print" />
       <link rel="stylesheet" href="/theme/tipuesearch/tipuesearch.css" type="text/css" media="screen">
       <link rel="stylesheet" href="/theme/css/fork-awesome.min.css" type="text/css"/>
       {% if SITE_ICON %}
       <link rel="shortcut icon" href="{{ SITE_ICON }}">
       {% endif %}
       {% if FEED_ATOM %}
       <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
       {% endif %}
       {% if FEED_RSS %}
       <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
       {% endif %}
</head>
<body>
   <header>
       <h1><a href="/" title="Mark it zero">{{ SITENAME }}</a></h1>
       <nav>
         <a href="/about" title="about me">whoami</a> &bull;
         <a href="/archives.html" title="Archives">Archives</a> &bull;
         <a id="subscribe-link" href="/rss" title="RSS feed" rel="nofollow">subscribe</a>
         <form id="searchform" action="/search.html" onsubmit="return (this.elements['q'].value.length > 0)">
               <input id="searchbox" type="text" name="q" size="12" placeholder="Search">
         </form>
       </nav>
   </header>

   <div id="main">
       {% block content %}{% endblock %}
       {% if PDF_PROCESSOR %}
         <a href="/pdf/{{ article.slug }}.pdf">PDF</a>
       {% endif %}
       {% if PRINT %}
         <a href="javascript:window.print();" title="Print">Print</a>
       {% endif %}
       {% block footnote %}{% endblock %}
   </div>

   <footer>
   {% include "footer.html" %}
   </footer>
   {% include "piwik.html" %}

   {% if JS_HTTPS %}
   {% include "js_https.html" %}
   {% endif %}

</body>
</html>
