{% extends "base.html" %}
{% block content %}
<h2>
  {% block title %}
    {{ articles|length }} articles in {{ category }}
  {% endblock %}
</h2>
<ul class="post-list">
{% for article in dates %}
  <li>
    <a href="/{{ article.url }}">{{ article.title }}</a>
    <time>{{ article.locale_date }}</time>
  </li>
{% endfor %}
</ul>
<p>&rarr; <a href="/categories.html">Browse all {{ categories|length }} categories</a></p>
{% endblock content %}
