<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ DISQUS_SITENAME }}';

    {% if article %}
        {% if not DISQUS_NO_ID %}
            var disqus_identifier = '{{ article.date|strftime('%Y-%m-') ~ article.slug if DISQUS_ID_PREFIX_SLUG else article.slug }}';
        {% endif %}
        var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    {% elif page %}
        {% if not DISQUS_NO_ID %}
            var disqus_identifier = 'page-{{ page.slug }}';
        {% endif %}
        var disqus_url = '{{ SITEURL }}/{{ page.url }}';
    {% endif %}

    var disqus_config = function () {
        this.language = "{{ DEFAULT_LANG }}";
        this.page.url = disqus_url;
        this.page.identifier = disqus_identifier;
    };

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
