{% extends "base.html" %}

{% block content %}
<h2>Recent blog posts</h2>
<ul class="post-list">

{% if articles %}
    {% for article in dates[:5] %}
        <li>
            <a href="/{{ article.url }}">{{ article.title }}</a>
            <time>{{ article.locale_date }}</time>
        </li>
    {% endfor %}
{% endif %}

</ul>
<p>&rarr; <a href="/archives.html">Browse all {{ articles|length }} posts</a></p>
{% endblock content %}
