{% extends "base.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}
{% block content %}
<article>
    <header>
        <h1><a href="/{{ page.url }}" rel="bookmark">{{ page.title|striptags }}</a></h1>
    </header>

    <div class="body">
        {{ page.content }}
    </div>
</article>
{% endblock %}
