{% if DEFAULT_PAGINATION %}
<span class="paginator">
    {% if articles_page.has_previous() %}
    {% if articles_page.previous_page_number() == 1 %}
    <a href="/{{ page_name }}.html">&laquo;</a>
    {% else %}
    <a href="/{{ page_name }}{{ articles_page.previous_page_number() }}.html">&laquo;</a>
    {% endif %}
    {% endif %}
    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    {% if articles_page.has_next() %}
    <a href="/{{ page_name }}{{ articles_page.next_page_number() }}.html">&raquo;</a>
    {% endif %}
</span>
{% endif %}
