<center>
<div class="social-network-icons">
{% for title, link in SOCIAL %}
  <a href="{{ link }}" target="_blank" title="{{ title }}">
    <i class="fa fa-{{ title|lower }} fa-2x"></i>
  </a>
{% endfor %}
</div>
</center>
